<!--<mdb-icon class="user-icon" fas icon="pencil-alt" data-toggle="modal" (click)="openUserEditForm(user)"></mdb-icon>-->
<!--<button type="button" mdbBtn class="btn" data-toggle="modal" data-target="#basicExample"-->
<!--        (click)="frame.show()">-->
<!--  <i class="fas pencil-alt ml-2" aria-hidden="true"></i></button>-->

<button type="button" class="btn edit" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()"><i class="fas fa-pencil-alt"
                                  aria-hidden="true"></i></button>
<div mdbModal #frame="mdbModal" class="modal" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100">Edit User</h4>
      </div>
      <div class="modal-body d-flex flex-column">
        <div class="form-row mb-4">
          <div class="col">
            <label for="firstName">First name</label>
            <input [value]="user.firstName" type="text" id="firstName" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="lastName">Last name</label>
            <input [value]="user.lastName" type="text" id="lastName" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="md-form mb-3">
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Email</label>
          <mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
          </mdb-success>
        </div>
        <div class="md-form mb-3">
          <input mdbInput [value]="user.location.city" type="text" id="city" class="form-control">
          <label for="city">City</label>
        </div>
        <div class="md-form mb-3">
          <input mdbInput [value]="user.location.street" type="text" id="street" class="form-control">
          <label for="street">Street</label>
        </div>
        <div class="md-form mb-3">
          <input mdbInput [value]="user.location.houseNumber" type="number" id="House Number" class="form-control">
          <label for="House Number">House Number</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="frame.hide()"
                mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
      </div>
    </div>
  </div>
</div>
