.modal-header {
  background-color: gray;
}

.edit {
  padding: 0;
  box-shadow: none;
}

.edit:hover {
  box-shadow: none;
}

.edit:active {
  box-shadow: none;
}

.md-form {
  margin-top: 0;
  margin-bottom: 0;
}
