<header class="head-nav">
  <mdb-navbar *ngIf="!isInLogin()" SideClass="navbar navbar-expand-lg grey" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>FooDude</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/restaurant-table" routerLinkActive="active">Restaurants</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/review-table" routerLinkActive="active">Reviews</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/categories-table" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Statistics</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</header>
