<h2>Review Management</h2>

<table mdbTable class="table" mdbTableScroll scrollY="true" maxHeight="500">
  <thead class="grey lighten-1 black-text">
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let review of reviews$ | async">
    <th scope="row">{{review.user.firstName}}</th>
    <td>{{review.user.firstName}}</td>
    <td>{{review.restaurant.name}}</td>
    <td>{{review.content}}</td>
    <td>
      <span class="table-remove">
        <mdb-icon class="review-icon" far icon="trash-alt"></mdb-icon>
      </span>
    </td>
  </tr>
  </tbody>
</table>
