<h2>Restaurant Management</h2>

<div class="container">
  <div class="row d-flex justify-content-around align-items-center">
    <div class="md-form">
      <input type="text"
             [(ngModel)]="searchNameText"
             class="form-control"
             id="search-name"
             mdbInput/>
      <label for="search-name">Restaurant Name</label>
    </div>
    <label>
      <select class="browser-default custom-select">
        <option *ngFor="let area of areas">{{area}}</option>
      </select>
    </label>
    <label>
      <select id = "category" class="browser-default custom-select">
        <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
      </select>
    </label>
    <label>
      <select class="browser-default custom-select">
        <option *ngFor="let score of rating">{{score}}</option>
      </select>
    </label>
    <button type="button" mdbBtn color="dark" mdbWavesEffect size="sm" (click)="search()">Search</button>
    <button type="button" mdbBtn color="success" mdbWavesEffect size="sm">New Restaurant</button>
  </div>
</div>

<table mdbTable class="table" mdbTableScroll scrollY="true" maxHeight="500">
  <thead class="grey lighten-1 black-text">
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let restaurant of restaurants$ | async">
    <th scope="row">{{restaurant.name}}</th>
    <td>{{restaurant.category.name}}</td>
    <td>{{restaurant.rating}}</td>
    <td>{{restaurant.description}}</td>
    <td>{{restaurant.address.city + ", " + restaurant.address.street + ", " + restaurant.address.houseNumber}}</td>
    <td>
      <span>
        <mdb-icon class="click-icon" fas icon="comment-slash"></mdb-icon>
      </span>
    </td>
    <td>
      <app-restaurant-editor [restaurant]="restaurant" (restaurantUpdate)="onRestaurantUpdate($event)"></app-restaurant-editor>
    </td>
    <td>
       <span>
        <mdb-icon class="click-icon" far icon="trash-alt" (click)="deleteRestaurant(restaurant._id)"></mdb-icon>
      </span>
    </td>
  </tr>
  </tbody>
</table>
