.table {
  background-color: white;
}

.click-icon {
  cursor: pointer;
}

.md-form label {
  color: white ;
}

.md-form input[type=text]:focus:not([readonly]) + label{
  color: white ;
}

.md-form input[type=text]:focus:not([readonly]){
  color: black;
  border-bottom-color: white;
}

.admin {
  color: limegreen;
}
