<h2>User Management</h2>

<div class="container">
  <div class="row d-flex justify-content-around align-items-center">
    <div class="md-form">
      <input type="text"
             [(ngModel)]="searchFirstNameText"
             class="form-control"
             id="search-first-name"
             mdbInput/>
      <label for="search-first-name">Search First Name</label>
    </div>
      <div class="md-form mx-3">
        <input type="text"
               [(ngModel)]="searchLastNameText"
               class="form-control"
               id="search-last-name"
               mdbInput/>
        <label for="search-last-name">Search Last Name</label>
      </div>
    <label>
      <select class="browser-default custom-select">
        <option *ngFor="let area of areas">{{area}}</option>
      </select>
    </label>
    <mdb-checkbox [default]="true">Active Users</mdb-checkbox>
    <mdb-checkbox [default]="true">Contributor Users</mdb-checkbox>
    <button type="button" mdbBtn color="dark" mdbWavesEffect size="sm" (click)="search()">Search</button>
  </div>
</div>

<table mdbTable class="table" mdbTableScroll scrollY="true" maxHeight="500">
  <thead class="grey lighten-1 black-text">
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let user of users$ | async">
    <th scope="row">{{user.firstName}}</th>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.city}}</td>
    <td>
        <app-user-editor [user]="user" (userUpdate)="onUserUpdate($event)"></app-user-editor>
    </td>
    <td>
      <span class="table-remove">
        <mdb-icon class="user-icon" far icon="trash-alt"></mdb-icon>
      </span>
    </td>
  </tr>
  </tbody>
</table>
