<button type="button" mdbBtn color="success" mdbWavesEffect size="sm" class="my-3" (click)="frame.show()">New Restaurant</button>

<div
  mdbModal
  #frame="mdbModal"
  class="modal"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100">New Restaurant</h4>
      </div>
      <app-individual-restaurant [frame]="frame" [categories]="categories"
                                 [selectedCategory]="newRestaurant.category.name" [rating]="rating"
                                 [editedRestaurant]="newRestaurant" [areas]="areas"
                                 (restaurantUpdate)="createRestaurant($event)" ></app-individual-restaurant>
    </div>
  </div>
</div>
